<div class="container">

  <h1>Hello</h1>
  <!-- {{}} is string interpolation -->
 
  <!-- Could do any JS expression -->
  <!-- It's going to interpret these numbers to a string and output 6 -->
  <!-- <p>{{ 1 + 2 }}</p>
  <div>{{ true ? "yes" : "no"}}</div> -->

  <!-- Embedding our header element into our root component -->
  <!-- We can simply use the selector in our header component -->
  <!-- The selector will always be app-(whatever the name is) -->
  <app-header></app-header>
  <app-tasks></app-tasks>
</div>