/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* Reset global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Container we are going to wrap around everything */
.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}


/* Button classes */
.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    /* background-color: khaki; */
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}


/* Form classes */


/* We are going to have some specific component classes like our header & footer
    will have some specific styles */